.icon-btn {
  border: none;
  background-color: transparent;
  outline: 0;
  i {
    color: #007bff;
    font-size: 2em;
    cursor: pointer;
  }
}
.paging {
  text-align: center;
}
.approved {
  color: gray;
}
.complete {
  color: green;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.prenext {
  background-color: #f1f1f1;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.round {
  border-radius: 50%;
}


