<div class="main-content" style="margin-top: 10px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h5><b>Tổng số yêu cầu đặt phòng đã được duyệt: 200</b>
                                <div class="col-md-2" style="float: right;">
                                        <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                            (click)="openCreate(create)">Xếp phòng</button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <form class="navbar-form col-md-4" style="float: right;">
                                            <div class="input-group no-border">
                                                <input type="text" value="" class="form-control" placeholder="Search..."
                                                    id="searchValue">
                                                <button mat-raised-button type="submit"
                                                    class="btn btn-white btn-round btn-just-icon" (click)="onSearch()">
                                                    <i class="material-icons">search</i>
                                                    <div class="ripple-container"></div>
                                                </button>
                                            </div>
                                        </form>
                            </h5>
                            
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" style="text-align: center">
                                    <thead class="thead-dark">
                                        <th>Mã số sinh viên</th>
                                        <th>Tên</th>
                                        <th>Loại phòng</th>
                                        <th>Số tháng muốn ở</th>
                                        <th>Thao tác</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of collection | paginate: { itemsPerPage: 5, currentPage: p }">
                                            <td>SE62525</td>
                                            <td>Nguyễn Hoàng Nam</td>
                                            <td>Phòng thường</td>
                                            <td>12 tháng</td>
                                            <td><button type="button" class="btn btn-info" (click)="open(detail)">Chi
                                                    tiết</button></td>
                                        </tr>
    
                                    </tbody>
                                </table>
                                <div class="paging">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    <ng-template #detail let-modal>
        <div class="modal-header">
            <h5><b>Chi tiết yêu cầu đặt phòng</b></h5>
        </div>
        <div class="modal-body modal-basic-title col-md-12 row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" (click)="show(0)">
                        <h5>Thông tin yêu cầu đặt phòng
                            <i class="fa fa-caret-right detail" style="font-size:30px; float: right;"></i>
                        </h5>
    
                    </div>
                    <div class="card-body" [hidden]="!showList[0]">
                        <div class="table-responsive">
                            <table style="font-size: 18px;">
                                    <tr>
                                        <td>Tên:</td>
                                        <td class="width-20"></td>
                                        <td>Nguyễn Hoàng Nam</td>
                                    </tr>
                                    <tr>
                                        <td>MSSV:</td>
                                        <td class="width-20"></td>
                                        <td>SE62525</td>
                                    </tr>
                                    <tr>
                                        <td>Loại phòng:</td>
                                        <td class="width-20"></td>
                                        <td>Loại thường</td>
                                    </tr>
                                    <tr>
                                        <td>Số tháng muốn ở:</td>
                                        <td class="width-20"></td>
                                        <td>12 tháng</td>
                                    </tr>
                                </table>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" (click)="show(1)">
                        <h5>Thông tin chi tiết sinh viên
                            <i class="fa fa-caret-down detail" style="font-size:30px; float: right;"></i>
                        </h5>
                    </div>
                    <div class="card-body" [hidden]="!showList[1]">
                        <div class="table-responsive">
                            <div class="col-md-12">
                                <table style="font-size: 18px;">
                                    <tr>
                                        <td>Tên:</td>
                                        <td class="width-20"></td>
                                        <td>Nguyễn Hoàng Nam</td>
                                    </tr>
                                    <tr>
                                        <td>MSSV:</td>
                                        <td class="width-20"></td>
                                        <td>SE62525</td>
                                    </tr>
                                    <tr>
                                        <td>Giới tính:</td>
                                        <td class="width-20"></td>
                                        <td>Nam</td>
                                    </tr>
                                    <tr>
                                        <td>SĐT:</td>
                                        <td class="width-20"></td>
                                        <td>0964482740</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày sinh:</td>
                                        <td class="width-20"></td>
                                        <td>20/10/2000</td>
                                    </tr>
                                    <tr>
                                        <td>Địa chỉ:</td>
                                        <td class="width-20"></td>
                                        <td>HCM</td>
                                    </tr>
                                    <tr>
                                        <td>CMND:</td>
                                        <td class="width-20"></td>
                                        <td>215432589</td>
                                    </tr>
                                    <tr>
                                        <td>Khoá:</td>
                                        <td class="width-20"></td>
                                        <td>12B</td>
                                    </tr>
                                    <tr>
                                        <td>Đối tượng ưu tiên:</td>
                                        <td class="width-20"></td>
                                        <td>Loại 1</td>
                                    </tr>
                                    <tr>
                                        <td>Phí dự kiến:</td>
                                        <td class="width-20"></td>
                                        <td>800.000 vnđ</td>
                                    </tr>
    
                                </table>
                                <hr>
                                <div style="margin-bottom:25px">
                                        <div style="display:block;"
                                             [style.width]="width">
                                          <slideshow #slideshow
                                                     [imageUrls]="imageUrls"
                                                     [height]="height"
                                                     [minHeight]="minHeight"
                                                     [arrowSize]="arrowSize"
                                                     [showArrows]="showArrows" 
                                                     [backgroundSize]="backgroundSize"
                                                     [backgroundPosition]="backgroundPosition" 
                                                     [showDots]="showDots"
                                                     [dotColor]="dotColor"
                                                     [showCaptions]="showCaptions"
                                                     [captionColor]="captionColor"
                                                     [captionBackground]="captionBackground">
                                          </slideshow>
                                        </div>
                                      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <label style="float: left">Lý do từ chối: </label><input type="text" class="form-control col-md-6"
                style="float: left">
            <button type="button" class="btn btn-success save shadow-card">Chấp nhận</button>
            <button type="button" class="btn btn-danger save shadow-card">Từ chối</button>
        </div>
    </ng-template>