<div class="main-content" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form class="navbar-form">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Search..."
                                            id="searchValue">
                                        <button mat-raised-button type="submit"
                                            class="btn btn-white btn-round btn-just-icon" (click)="onSearch()">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card" style="margin-top: 0px;">
                    <div class="card-header card-header-danger">
                        <h5>Tổng số yêu cầu chuyển phòng: 200</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" style="text-align: center">
                                <thead class="thead-dark">
                                    <th>Tên</th>
                                    <th>Mã số sinh viên</th>
                                    <th>Loại phòng muốn chuyển sang</th>
                                    <th>Thao tác</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of collection | paginate: { itemsPerPage: 5, currentPage: p }">
                                        <td>Nguyễn Hoàng Nam</td>
                                        <td>SE62525</td>
                                        <td>Phòng thường</td>
                                        <td><button type="button" class="btn btn-info" (click)="open(detail)">Chi
                                                tiết</button></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="paging">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #detail let-modal>
    <div class="modal-header">
        <h4>Chi tiết yêu cầu chuyển phòng</h4>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Thông tin yêu cầu chuyển phòng</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="font-size: 18px;">
                            <tr>
                                <td>Tên:</td>
                                <td style="width: 20%"></td>
                                <td>Nguyễn Hoàng Nam</td>
                            </tr>
                            <tr>
                                <td>MSSV:</td>
                                <td style="width: 20%"></td>
                                <td>SE62525</td>
                            </tr>
                            <tr>
                                <td>Lí do</td>
                                <td style="width: 20%"></td>
                                <td>Cần chuyển loại phòng</td>
                            </tr>
                        </table>
                        <hr>
                        <table style="font-size: 18px;">
                            <tr>
                                <th>Phòng đang ở</th>
                                <th style="width: 20%"></th>
                                <th>Phòng chuyển sang</th>
                            </tr>
                            <tr>
                                <td>Số phòng: 201A</td>
                                <td style="width: 20%"></td>
                                <td>Số phòng: 209A</td>
                            </tr>
                            <tr>
                                <td>Loại phòng: Thường</td>
                                <td style="width: 20%"></td>
                                <td>Loại phòng: Dịch vụ</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
            <label style="float: left">Lý do từ chối: </label><input type="text" class="form-control col-md-6"
            style="float: left">
        <button type="button" class="btn btn-success save shadow-card">Chấp nhận</button>
        <button type="button" class="btn btn-danger save shadow-card">Huỷ bỏ</button>
    </div>
</ng-template>