<div class="main-content" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5><b>Yêu cầu chuyển phòng: 200</b>
                            <div class="form-group" style="float: right;">
                                <select class="form-control" id="exampleFormControlSelect1"
                                    (change)="changePageSize(pageSize)" [(ngModel)]="pageSize">
                                    <option value='null'>Dòng</option>
                                    <option value=5>5</option>
                                    <option value=10>10</option>
                                    <option value=15>15</option>
                                </select>
                            </div>
                            <div class="navbar-form col-md-4" style="float: right;">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="MSSV..."
                                        id="searchValue" [(ngModel)]="studentCardNumber">
                                    <button mat-raised-button type="submit"
                                        class="btn btn-white btn-round btn-just-icon" (click)="getRoomTransferRequest()">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group" style="float: right;">
                                <select class="form-control" id="exampleFormControlSelect1"
                                    (change)="filteBycurrentRoomTypeName()" [(ngModel)]="currentRoomTypeName">
                                    <option value="All">Tất cả loại phòng đang ở</option>
                                    <option value="Standard Room">Loại thường</option>
                                    <option value="Service Room">Loại dịch vụ</option>
                                </select>
                            </div>
                        </h5>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" style="text-align: center; min-height: 200px;">
                                <thead class="thead-dark">
                                    <th>Tên</th>
                                    <th>MSSV</th>
                                    <th>Loại muốn chuyển
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item"
                                                    (click)="filteByRoomType('Standard Room')">Thường</button>
                                                <button class="dropdown-item"
                                                    (click)="filteByRoomType('Service Room')">Dịch vụ</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Ngày dự kiến chuyển</th>
                                    <th>Trạng thái
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="filterByStatus('Pending')">Chưa
                                                    duyệt</button>
                                                <button class="dropdown-item" (click)="filterByStatus('Approved')">Đã
                                                    duyệt</button>
                                                <button class="dropdown-item" (click)="filterByStatus('Rejected')">Từ
                                                    chối</button>
                                                <button class="dropdown-item" (click)="filterByStatus('Completed')">Hoàn
                                                    tất</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Ngày tạo
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="sortByCreateDate(false)">Cũ nhất</button>
                                                <button class="dropdown-item" (click)="sortByCreateDate(true)">Mới nhất</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Thao tác</th>
                                </thead>
                                <tbody *ngIf="isLoaded">
                                    <tr *ngIf="roomTransferRequests.length == 0" style="text-align: center;">
                                        <td colspan="7">Không có yêu cầu nào</td>
                                    </tr>
                                    <tr *ngFor="let roomTransferRequest of roomTransferRequests, let i = index">
                                        <td>{{roomTransferRequest.studentName}}</td>
                                        <td>{{roomTransferRequest.studentCardNumber}}</td>
                                        <td>{{roomTransferRequest.targetRoomTypeName == 'Service Room' ? 'Phòng dịch vụ' : 'Phòng thường' }}
                                        </td>
                                        <td>{{roomTransferRequest.dateTransfer}}</td>
                                        <td
                                            [ngClass]="{approved : roomTransferRequest.status == 'Approved', complete: roomTransferRequest.status == 'Complete', reject: roomTransferRequest.status == 'Rejected', pending: roomTransferRequest.status == 'Pending'}">
                                            {{ roomTransferRequest.parseStatus}}</td>

                                        <td>{{roomTransferRequest.createdDate}}</td>
                                        <td><button type="button" class="btn btn-info" (click)="open(detail, i)"><i
                                                    class="fa fa-info-circle" aria-hidden="true"></i></button></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="paging" [hidden] ="roomTransferRequests.length == 0" *ngIf="isLoaded">
                                    <a class="prenext round" (click)="changePage(-1)" [hidden]="page == 1">&#8249;</a>Trang số {{page}} trong {{totalPage}} trang<a class="prenext round" (click)="changePage(1)" [hidden]="page == totalPage">&#8250;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #detail let-modal>
    <div class="modal-header">
        <h5><b>Chi tiết yêu cầu chuyển phòng</b></h5>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h5>Thông tin yêu cầu chuyển phòng</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="font-size: 18px;">
                            <tr>
                                <td>Tên:</td>
                                <td style="width: 20%"></td>
                                <td>{{transferRequestDetail.name}}</td>
                            </tr>
                            <tr>
                                <td>MSSV:</td>
                                <td style="width: 20%"></td>
                                <td>{{transferRequestDetail.studentCode}}</td>
                            </tr>
                            <tr>
                                <td>Lí do:</td>
                                <td style="width: 20%"></td>
                                <td>{{transferRequestDetail.reason}}</td>
                            </tr>
                        </table>
                        <hr>
                        <table style="font-size: 18px;">
                            <tr>
                                <th>Phòng đang ở</th>
                                <th style="width: 20%"></th>
                                <th>Phòng chuyển sang</th>
                            </tr>
                            <tr>
                                <td>Số phòng: {{transferRequestDetail.roomName}}</td>
                                <td style="width: 20%"></td>
                                <td>Loại phòng:
                                    {{transferRequestDetail.targetRoomTypeName === 'Standard Room' ?  'Loại thường' : 'Dịch vụ'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Loại phòng:
                                    {{transferRequestDetail.currentRoomTypeName === 'Standard Room' ?  'Loại thường' : 'Dịch vụ'}}
                                </td>
                                <td style="width: 20%"></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <label style="float: left">Lý do từ chối: </label>
            <textarea class="form-control" rows="3" id="inputReason" [(ngModel)]="reason"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card"
            (click)="approvedTransfer(transferRequestDetail.id)">Chấp nhận</button>
        <button type="button" class="btn btn-danger save shadow-card"
            (click)="rejectTransfer(transferRequestDetail.id)">Huỷ bỏ</button>
    </div>
</ng-template>
<ng-template #customLoadingTemplate>
    <div class="custom-class"></div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>