<div class="main-content" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5><b>Yêu cầu chuyển phòng: 200</b>
                            <div ngbDropdown class="d-flex justify-content-end d-inline-block dropdown"
                                style="float: right;">
                                <button class="btn icon-btn border" ngbDropdownToggle>Dòng</button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item">5</button>
                                    <button class="dropdown-item">25</button>
                                    <button class="dropdown-item">50</button>
                                </div>
                            </div>
                            <form class="navbar-form col-md-4" style="float: right;">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Tên hoặc MSSV..."
                                        id="searchValue">
                                    <button mat-raised-button type="submit"
                                        class="btn btn-white btn-round btn-just-icon" (click)="onSearch()">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>
                            <div ngbDropdown class="d-flex justify-content-end d-inline-block dropdown"
                                style="float: right;">
                                <button class="btn icon-btn border" ngbDropdownToggle>Phòng đang ở</button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item">Loại thường</button>
                                    <button class="dropdown-item">Dịch vụ</button>
                                </div>
                            </div>
                            <div ngbDropdown class="d-flex justify-content-end d-inline-block dropdown"
                                style="float: right; margin-right: 10px;">
                                <button class="btn icon-btn border" ngbDropdownToggle>Loại chuyển</button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item">Cùng loại</button>
                                    <button class="dropdown-item">Khác loại</button>
                                </div>
                            </div>
                        </h5>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" style="text-align: center">
                                <thead class="thead-dark">
                                    <th>Tên</th>
                                    <th>Mã số sinh viên</th>
                                    <th>Loại phòng muốn chuyển sang
                                            <div ngbDropdown class="d-inline-block dropdown">
                                                    <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                                    <div ngbDropdownMenu>
                                                        <button class="dropdown-item">Thường</button>
                                                        <button class="dropdown-item">Dịch vụ</button>
                                                    </div>
                                                </div>
                                    </th>
                                    <th>Ngày tạo
                                            <i class="fa fa-fw fas fa-sort"></i>
                                    </th>
                                    <th>Thao tác</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let roomTransferRequest of roomTransferRequests">
                                        <td>{{roomTransferRequest.studentName}}</td>
                                        <td>{{roomTransferRequest.studentCardNumber}}</td>
                                        <td>{{roomTransferRequest.targetRoomTypeName}}</td>
                                        <td>{{roomTransferRequest.createdDate}}</td>
                                        <td><button type="button" class="btn btn-info" (click)="open(detail)">Chi
                                                tiết</button></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="paging">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #detail let-modal>
    <div class="modal-header">
        <h5><b>Chi tiết yêu cầu chuyển phòng</b></h5>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h5>Thông tin yêu cầu chuyển phòng</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="font-size: 18px;">
                            <tr>
                                <td>Tên:</td>
                                <td style="width: 20%"></td>
                                <td>Nguyễn Hoàng Nam</td>
                            </tr>
                            <tr>
                                <td>MSSV:</td>
                                <td style="width: 20%"></td>
                                <td>SE62525</td>
                            </tr>
                            <tr>
                                <td>Lí do</td>
                                <td style="width: 20%"></td>
                                <td>Cần chuyển loại phòng</td>
                            </tr>
                        </table>
                        <hr>
                        <table style="font-size: 18px;">
                            <tr>
                                <th>Phòng đang ở</th>
                                <th style="width: 20%"></th>
                                <th>Phòng chuyển sang</th>
                            </tr>
                            <tr>
                                <td>Số phòng: 201A</td>
                                <td style="width: 20%"></td>
                                <td>Số phòng: 209A</td>
                            </tr>
                            <tr>
                                <td>Loại phòng: Thường</td>
                                <td style="width: 20%"></td>
                                <td>Loại phòng: Dịch vụ</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <label style="float: left">Lý do từ chối: </label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="modal-footer">
       
        <button type="button" class="btn btn-success save shadow-card">Chấp nhận</button>
        <button type="button" class="btn btn-danger save shadow-card">Huỷ bỏ</button>
    </div>
</ng-template>
<ng-template #customLoadingTemplate>
    <div class="custom-class"></div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>