.paging{
    text-align: center;
}
.icon-btn{
    border: none;
    background-color: transparent;
    outline: 0;
    i{
        color: #007bff;
        font-size: 2em;
        cursor: pointer;
    }
  }
  .pending {
    color: gray;
  }
  .reject {
    color: red;
  }
  .approved {
    color: #00e1ff;
  }
  .complete {
    color: green;
  }