<div class="login-block text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <div class="login-form">
          <h2 class="text-center">Đăng nhập</h2>
          <div class="text-center social-btn">
            <button (click)="signInWithGoogle()" class="btn btn-danger btn-block btn-login col-md-8"><i class="fa fa-google"></i> Sign in with
              <b>Google</b></button>
          </div>
        </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Quản lí Ký Túc Xá</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
