.paging {
    text-align: center;
  }
  .modal-lg {
    width: 1000px !important;
  }
  
  .card-header {
    cursor: pointer;
  }
  
  .card {
    margin-bottom: 0rem !important; 
  }
  .icon-btn{
    border: none;
    background-color: transparent;
    outline: 0;
    i{
        color: #007bff;
        font-size: 2em;
        cursor: pointer;
    }
  }