<div class="main-content" style="margin-top: 10px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: 350px;">
                    <div class="card-header card-header-danger">
                        <div class="form-group col-md-4" style="float: left;">
                            <label for="exampleFormControlSelect1"><b>Tạo thông báo:</b></label>
                        </div>
                    </div>
                    <div class="card-body" style="margin-left: 25%; font-size: 14px;">
                        <div class="form-group col-md-7">
                            <label for="exampleFormControlInput1">Tiêu đề: </label>
                            <input type="text" class="form-control" value="Thông báo A" />
                        </div>
                        <div class="form-group col-md-7">
                            <label for="exampleFormControlInput2">Nội dung: </label>
                            <textarea rows="4" cols="51">
                               
                            </textarea>
                        </div>
                        <div class="form-group col-md-7">
                            <label for="exampleFormControlInput2">Tệp đính kèm: </label>
                            &nbsp;
                            <input type="file" id="inputExcel" name="myFile">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success save shadow-card float-right">Cập nhật</button>
                    </div>
                </div>
            </div>
        </div>
    </div>