<div class="main-content" style="margin-top: 10px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: 350px;">
                    <div class="card-header card-header-danger">
                        <h5><b>Đặt ngày đóng hệ thống, không nhận yêu cầu</b></h5>
                    </div>
                    <div class="card-body" style="margin-left: 25%; font-size: 14px;">
                        <div class="form-group col-md-7">
                                <label for="exampleFormControlInput1">Ngày bắt đầu: </label>
                                <angular2-date-picker id="datetimepicker" [(ngModel)]="startdate"
                                    [settings]="settings1">
                                </angular2-date-picker>
                            </div>
                            <div class="form-group col-md-7">
                                    <label for="exampleFormControlInput1">Ngày kết thúc: </label>
                                    <angular2-date-picker id="datetimepicker" [(ngModel)]="startdate"
                                        [settings]="settings1">
                                    </angular2-date-picker>
                                </div>
                            <div class="form-group col-md-7">
                                <label for="exampleFormControlSelect1">Loại yêu cầu</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Tất cả</option>
                                    <option>Yêu cầu đặt phòng</option>
                                    <option>Yêu cầu chuyển phòng</option>
                                    <option>Yêu cầu gia hạn hợp đồng</option>
                                </select>
                            </div>
                    </div>
                    <div class="card-footer">
                            <button type="button" class="btn-lg btn-success save shadow-card float-right">Đặt</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>