<div class="main-content" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5><b>Thêm danh sách đăng kí KTX từ trường</b>
                            <button mat-raised-button type="button"
                                class="btn btn-outline-secondary btn-sm pull-right button-download text-color"
                                (click)="download()"><i class="fa fa-download fa-2x" aria-hidden="true"></i> Excel
                                Mẫu</button>
                        </h5>
                    </div>
                    <div class="card-body"> 
                        <div class="modal-body modal-basic-title col-md-12 row">
                            &nbsp;&nbsp;&nbsp;Chọn danh sách sinh viên: &nbsp;&nbsp;&nbsp; 
                            <input type="file"
                                id="inputExcel"
                                accept=".xlsm"
                                name="myFile">&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-secondary" (click)="importFileExcel()">Thêm</button>

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
