<div class="main-content" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5><b>Danh sách trang thiết bị</b>
                            <div class="col-md-2" style="float: right;">
                                <button mat-raised-button type="button" class="btn btn-info pull-right"
                                    (click)="openCreate(create)" id="btnAdd">Thêm thiết bị</button>
                                <div class="clearfix"></div>
                            </div>

                            <div class="col-md-4" style="float: right;">
                                <form class="navbar-form">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Tên hoặc Mã thiết bị"
                                            id="searchValue">
                                        <button mat-raised-button type="submit"
                                            class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" style="text-align: center">
                                <thead class="thead-dark">
                                    <th>Tên</th>
                                    <th>Mã TB</th>
                                    <th>Giá</th>
                                    <th>Phòng
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item">Đang sử dụng</button>
                                                <button class="dropdown-item">Chưa sử dụng</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Tình trạng
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item">Bình thường</button>
                                                <button class="dropdown-item">Hư hỏng</button>
                                            </div>
                                        </div>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let equipment of equipments | paginate: { itemsPerPage: 5, currentPage: p }">
                                        <td>{{equipment.name}}</td>
                                        <td>{{equipment.code}}</td>
                                        <td>{{equipment.price}}</td>
                                        <td>{{equipment.roomName}}</td>
                                        <td>{{equipment.status}}</td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="paging">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<ng-template #create let-modal>
    <div class="modal-header">
        <h4>Thêm trang thiết bị</h4>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row">
        <div class="form-group col-md-12">
            <label for="exampleFormControlInput1">Tên: </label>
            <input type="text" class="form-control" id="exampleFormControlInput1"/>
        </div>
        <div class="form-group col-md-12">
            <label for="exampleFormControlInput1">Mã thiết bị: </label>
            <input type="text" class="form-control" id="exampleFormControlInput1"/>
        </div>
        <div class="form-group col-md-12">
            <label for="exampleFormControlInput1">Giá: </label>
            <input type="number" class="form-control" id="exampleFormControlInput1"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card" (click)="Save()">Thêm</button>
    </div>
</ng-template>

