<div class="main-content" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5><b>Tổng SV trong KTX: 200</b>
                            <div ngbDropdown class="d-flex justify-content-end d-inline-block dropdown"
                                style="float: right;">
                                <button class="btn icon-btn border" ngbDropdownToggle>Dòng</button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item">5</button>
                                    <button class="dropdown-item">25</button>
                                    <button class="dropdown-item">50</button>
                                </div>
                            </div>

                            <div class="col-md-4" style="float: right;">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Tên hoặc MSSV"
                                        id="searchValue">
                                    <button mat-raised-button type="submit"
                                        class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                    </button>
                                </div>
                            </div>



                        </h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <table class="table table-hover" style="text-align: center; min-height: 300px;">
                                <thead class="thead-dark ">
                                    <th>Tên</th>
                                    <th>MSSV</th>
                                    <th>Trạng thái thanh toán
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item">Đã thanh toán</button>
                                                <button class="dropdown-item">Chưa thanh toán</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Ngày hết hạn HĐ</th>
                                    <th>Trạng thái HĐ
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item">Còn hạn</button>
                                                <button class="dropdown-item">Hết hạn</button>
                                                <button class="dropdown-item">Đã huỷ</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Thao tác</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of students; let i = index">
                                        <td>{{student.name}}</td>
                                        <td>{{student.studentCardNumber}}</td>
                                        <!-- <td style="color: green;">{{student.isPaid}}</td>
                                        <td>{{student.contract.endDate}}</td>
                                        <td>{{student.contract.status}}</td> -->
                                        <td><button type="button" class="btn btn-secondary" (click)="open(detail, i)">Chi
                                                tiết</button>
                                            &nbsp;<button type="button" class="btn btn-danger">
                                                Xoá</button></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="paging">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #detail let-modal>
    <div class="modal-header">
        <h5><b>Chi tiết sinh viên</b></h5>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger" (click)="show(0)">
                    <h5>Thông tin sinh viên
                        <i class="fa fa-caret-down detail" style="font-size:30px; float: right;"></i>
                    </h5>
                </div>
                <div class="card-body" [hidden]="!showList[0]">
                    <div class="table-responsive">
                        <table style="font-size: 16px;">
                            <tr>
                                <td>Tên:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.name}}</td>
                            </tr>
                            <tr>
                                <td>MSSV:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>Giới tính:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>SĐT:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>Ngày sinh:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>Địa chỉ:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>CMND:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>Khoá:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>Đối tượng ưu tiên:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>Ngày vào KTX:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.startDate}}</td>
                            </tr>
                            <tr>
                                <td>Ngày hết hợp đồng:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.endDate}}</td>
                            </tr>
                            <tr>
                                <td>Trạng thái thanh toán phí:</td>
                                <td class="width-20"></td>
                                <td style="color: green">{{studentDetail.isPaid}}</td>
                            </tr>
                            <tr>
                                <td>Điểm rèn luyện:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.evaluationScore}}</td>
                            </tr>
                            <tr>
                                <td>Phòng:</td>
                                <td class="width-20"></td>
                                <td>{{studentDetail.roomName}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger" (click)="show(1)">
                    <h5>Lịch sử thanh toán
                        <i class="fa fa-caret-right detail" style="font-size:30px; float: right;"></i>
                    </h5>
                </div>
                <div class="card-body" [hidden]="!showList[1]">
                    <div class="table-responsive">
                        <table class="table" style="text-align: center">
                            <thead class=" text-primary">
                                <th>Tên</th>
                                <th>Phí chỗ ở</th>
                                <th>Phí điện nước</th>
                                <th>Ngày thanh toán</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nguyễn Hoàng Nam</td>
                                    <td>800.000 vnd</td>
                                    <td>200.000 vnđ</td>
                                    <td>1/10/2019</td>
                                </tr>
                                <tr>
                                    <td>Nguyễn Hoàng Nam</td>
                                    <td>800.000 vnd</td>
                                    <td>200.000 vnđ</td>
                                    <td>1/10/2019</td>
                                </tr>
                                <tr>
                                    <td>Nguyễn Hoàng Nam</td>
                                    <td>800.000 vnd</td>
                                    <td>200.000 vnđ</td>
                                    <td>1/10/2019</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger" (click)="show(2)">
                    <h5>Lịch sử chuyển phòng
                        <i class="fa fa-caret-right detail" style="font-size:30px; float: right;"></i>
                    </h5>
                </div>
                <div class="card-body" [hidden]="!showList[2]">
                    <div class="table-responsive">
                        <table class="table" style="text-align: center">
                            <thead class=" text-primary">
                                <th>Tên</th>
                                <th>Phòng cũ</th>
                                <th>Phòng mới</th>
                                <th>Ngày chuyển phòng</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nguyễn Hoàng Nam</td>
                                    <td>201A</td>
                                    <td>220A</td>
                                    <td>1/10/2019</td>
                                </tr>
                                <tr>
                                    <td>Nguyễn Hoàng Nam</td>
                                    <td>201A</td>
                                    <td>220A</td>
                                    <td>1/10/2019</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger" (click)="show(3)">
                    <h5>Lịch sử trừ điểm
                        <i class="fa fa-caret-right detail" style="font-size:30px; float: right;"></i>
                    </h5>
                </div>
                <div class="card-body" [hidden]="!showList[3]">
                    <div class="table-responsive">
                        <table class="table" style="text-align: center">
                            <thead class=" text-primary">
                                <th>Tên</th>
                                <th>Lỗi vi phạm</th>
                                <th>Số điểm trừ</th>
                                <th>Ngày trừ điểm</th>
                                <th>Nhân viên trừ điểm</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nguyễn Hoàng Nam</td>
                                    <td>Vi phạm kĩ luật</td>
                                    <td>5</td>
                                    <td>1/10/2019</td>
                                    <td>Hoàng Thuỳ</td>
                                </tr>
                                <tr>
                                    <td>Nguyễn Hoàng Nam</td>
                                    <td>Vi phạm kĩ luật</td>
                                    <td>5</td>
                                    <td>1/10/2019</td>
                                    <td>Hoàng Thuỳ</td>
                                </tr>
                                <tr>
                                    <td>Nguyễn Hoàng Nam</td>
                                    <td>Vi phạm kĩ luật</td>
                                    <td>5</td>
                                    <td>1/10/2019</td>
                                    <td>Hoàng Thuỳ</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>