.paging {
  text-align: center;
}
.width-20 {
  width: 20%;
}
.width-40 {
  width: 40%;
}
.width-33 {
  width: 33%;
}
.icon-btn {
  border: none;
  background-color: transparent;
  outline: 0;
  i {
    color: #007bff;
    font-size: 2em;
    cursor: pointer;
  }
}
.pending {
  color: gray;
}
.reject {
  color: red;
}
