<div class="main-content" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5><b>Yêu cầu đặt phòng: 200</b>
                            <div ngbDropdown class="d-flex justify-content-end d-inline-block dropdown"
                                style="float: right;">
                                <button class="btn icon-btn border" ngbDropdownToggle>Dòng</button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item" (click)="changePageSize(5)">5</button>
                                    <button class="dropdown-item" (click)="changePageSize(10)">10</button>
                                    <button class="dropdown-item" (click)="changePageSize(20)">20</button>
                                </div>
                            </div>
                            <div class="navbar-form col-md-4" style="float: right;">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="MSSV" id="searchValue"
                                        [(ngModel)]="studentCardNumber">
                                    <button mat-raised-button type="submit"
                                        class="btn btn-white btn-round btn-just-icon" (click)="getRoomRequest()">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </div>
                        </h5>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" style="text-align: center; min-height: 200px;">
                                <thead class="thead-dark">
                                    <th>Tên</th>
                                    <th>MSSV</th>
                                    <th>Loại phòng
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="filteByRoomType(null)">Tất
                                                    cả</button>
                                                <button class="dropdown-item"
                                                    (click)="filteByRoomType('Standard Room')">Thường</button>
                                                <button class="dropdown-item"
                                                    (click)="filteByRoomType('Service Room')">Dịch vụ</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Tháng muốn ở
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="filteByMonth(null)">Tất
                                                    cả</button>
                                                <button class="dropdown-item" (click)="filteByMonth('4')">4</button>
                                                <button class="dropdown-item" (click)="filteByMonth('8')">8</button>
                                                <button class="dropdown-item" (click)="filteByMonth('12')">12</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Ngày tạo
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="sortByCreateDate(false)">Tăng
                                                    dần</button>
                                                <button class="dropdown-item" (click)="sortByCreateDate(true)">Giảm
                                                    dần</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Trạng thái
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="filterByStatus('Pending')">Chưa
                                                    duyệt</button>
                                                <button class="dropdown-item" (click)="filterByStatus('Reject')">Đã
                                                    huỷ</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Thao tác</th>
                                </thead>
                                <tbody *ngIf="isLoaded">
                                    <tr *ngIf="roomBookingRequests.length == 0" style="text-align: center;">
                                        <td colspan="7">Không có yêu cầu nào</td>
                                    </tr>
                                    <tr *ngFor="let roomBookingRequest of roomBookingRequests">
                                        <td>{{roomBookingRequest.name}}</td>
                                        <td>{{roomBookingRequest.studentCardNumber}}</td>
                                        <td>{{roomBookingRequest.targetRoomTypeName == 'Service Room' ? 'Phòng dịch vụ' : 'Phòng thường' }}
                                        </td>
                                        <td>{{roomBookingRequest.month}}</td>
                                        <td>{{roomBookingRequest.createdDate}}</td>
                                        <td
                                            [ngClass]="{pending : roomBookingRequest.status == 'Pending', reject: roomBookingRequest.status == 'Reject'}">
                                            {{roomBookingRequest.status == 'Pending' ? 'Chưa duyệt' : 'Đã huỷ'}}</td>
                                        <td><button type="button" class="btn btn-info"
                                                (click)="open(detail,roomBookingRequest.roomBookingRequestFormId)">Chi
                                                tiết</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="paging">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #detail let-modal>
    <div class="modal-header">
        <h5><b>Chi tiết yêu cầu đặt phòng</b></h5>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger" (click)="show(0)">
                    <h5>Thông tin yêu cầu đặt phòng
                        <i class="fa fa-caret-right detail" style="font-size:30px; float: right;"></i>
                    </h5>

                </div>
                <div class="card-body" [hidden]="!showList[0]">
                    <div class="table-responsive">
                        <table style="font-size: 18px;">
                            <tr>
                                <td>Tên:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.name}}</td>
                            </tr>
                            <tr>
                                <td>MSSV:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>Loại phòng:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.targetRoomTypeName == 'Service Room' ? 'Phòng dịch vụ' : 'Phòng thường' }}
                                </td>
                            </tr>
                            <tr>
                                <td>Số tháng muốn ở:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.month}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger" (click)="show(1)">
                    <h5>Thông tin chi tiết sinh viên
                        <i class="fa fa-caret-down detail" style="font-size:30px; float: right;"></i>
                    </h5>
                </div>
                <div class="card-body" [hidden]="!showList[1]">
                    <div class="table-responsive">
                        <div class="col-md-12">
                            <table style="font-size: 18px;">
                                <tr>
                                    <td>Tên:</td>
                                    <td class="width-20"></td>
                                    <td>{{roomBookingRequestDetail.name}}</td>
                                </tr>
                                <tr>
                                    <td>MSSV:</td>
                                    <td class="width-20"></td>
                                    <td>{{roomBookingRequestDetail.studentCardNumber}}</td>
                                </tr>
                                <tr>
                                    <td>Giới tính:</td>
                                    <td class="width-20"></td>
                                    <td>{{roomBookingRequestDetail.gender == 'True' ? 'Nam' : 'Nữ'}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>SĐT:</td>
                                    <td class="width-20"></td>
                                    <td>{{roomBookingRequestDetail.studentCardNumber}}</td>
                                </tr> -->
                                <tr>
                                    <td>Ngày sinh:</td>
                                    <td class="width-20"></td>
                                    <td>{{roomBookingRequestDetail.birthDay}}</td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ:</td>
                                    <td class="width-20"></td>
                                    <td>{{roomBookingRequestDetail.address}}</td>
                                </tr>
                                <tr>
                                    <td>CMND:</td>
                                    <td class="width-20"></td>
                                    <td>{{roomBookingRequestDetail.identityCardNumber}}</td>
                                </tr>
                                <tr>
                                    <td>Khoá:</td>
                                    <td class="width-20"></td>
                                    <td>{{roomBookingRequestDetail.term}}</td>
                                </tr>
                                <tr>
                                    <td>Đối tượng ưu tiên:</td>
                                    <td class="width-20"></td>
                                    <td>{{roomBookingRequestDetail.priorityType}}
                                    </td>
                                </tr>

                            </table>
                            <hr>
                            <div style="margin-bottom:25px">
                                <div style="display:block;" style.width="">
                                    <slideshow #slideshow [imageUrls]="imageUrls" height="400px" arrowSize="30px"
                                        showArrows=true backgroundSize="cover" backgroundPosition="center center"
                                        showDots=true dotColor="#FFF" showCaptions=true captionColor="#FFF"
                                        captionBackground="rgba(0, 0, 0, .35)">
                                    </slideshow>
                                </div>
                            </div>
                            <label style="float: left">Lý do từ chối: </label>
                            <textarea class="form-control" rows="3" [(ngModel)]="rejectReason" id="inputReason"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card" (click)="updateStatus(roomBookingRequestDetail.roomBookingId, 'Approved')">Chấp nhận</button>
        <button type="button" class="btn btn-danger save shadow-card" (click)="updateStatus(roomBookingRequestDetail.roomBookingId, 'Rejected')">Từ chối</button>
    </div>
</ng-template>