<div class="main-content" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5><b>Yêu cầu đặt phòng: 200</b>
                            <div class="form-group" style="float: right;">
                                <select class="form-control" id="exampleFormControlSelect1"
                                    (change)="changePageSize(pageSize)" [(ngModel)]="pageSize">
                                    <option value='null'>Dòng</option>
                                    <option value=5>5</option>
                                    <option value=10>10</option>
                                    <option value=15>15</option>
                                </select>
                            </div>
                            <div class="navbar-form col-md-3" style="float: right;">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="MSSV" id="searchValue"
                                        [(ngModel)]="studentCardNumber">
                                    <button mat-raised-button type="submit"
                                        class="btn btn-white btn-round btn-just-icon" (click)="getRoomRequest()">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group col-md-5" style="float: right;">
                                <!-- <label class="col-md-5" style="float: left; font-size: 18px;">Loại phòng: </label> -->
                                <select class="form-control col-md-6" id="exampleFormControlSelect1"
                                    (change)="filteByRoomType(roomType)" [(ngModel)]="roomType">
                                    <option value='null'>Tất cả loại phòng</option>
                                    <option value='Standard Room'>Loại thường</option>
                                    <option value='Service Room'>Loại dịch vụ</option>
                                </select>
                            </div>
                        </h5>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" style="text-align: center; min-height: 200px;">
                                <thead class="thead-dark">
                                    <th>Tên</th>
                                    <th>MSSV</th>
                                    <th>Ngày vào dự kiến
                                    </th>
                                    <th>Ngày ra dự kiến
                                    </th>
                                    <th>Ngày tạo
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="sortByCreateDate(false)">Cũ nhất</button>
                                                <button class="dropdown-item" (click)="sortByCreateDate(true)">Mới nhất</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Trạng thái
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="filterByStatus('Pending')">Chưa
                                                    duyệt</button>
                                                <button class="dropdown-item" (click)="filterByStatus('Reject')">Đã
                                                    huỷ</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Thao tác</th>
                                </thead>
                                <tbody *ngIf="isLoaded">
                                    <tr *ngIf="roomBookingRequests.length == 0" style="text-align: center;">
                                        <td colspan="7">Không có yêu cầu nào</td>
                                    </tr>
                                    <tr *ngFor="let roomBookingRequest of roomBookingRequests">
                                        <td>{{roomBookingRequest.name}}</td>
                                        <td>{{roomBookingRequest.studentCardNumber}}</td>
                                        <td>{{roomBookingRequest.dateIn}}</td>
                                        <td>{{roomBookingRequest.dateOut}}</td>
                                        <td>{{roomBookingRequest.createdDate}}</td>
                                        <td
                                            [ngClass]="{pending : roomBookingRequest.status == 'Pending', reject: roomBookingRequest.status == 'Rejected'}">
                                            {{roomBookingRequest.status == 'Pending' ? 'Chưa duyệt' : 'Đã từ chối'}}</td>
                                        <td><button type="button" class="btn btn-info"
                                                (click)="open(detail,roomBookingRequest.roomBookingRequestFormId)"><i class="fa fa-info-circle" aria-hidden="true"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="paging" [hidden] ="roomBookingRequests.length == 0" *ngIf="isLoaded">
                                    <a class="prenext round" (click)="changePage(-1)" [hidden]="page == 1">&#8249;</a>Trang số {{page}} trong {{totalPage}} trang<a class="prenext round" (click)="changePage(1)" [hidden]="page == totalPage">&#8250;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #detail let-modal>
    <div class="modal-header">
        <h5><b>Chi tiết yêu cầu đặt phòng</b></h5>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger" (click)="show(0)">
                    <h5>Thông tin yêu cầu đặt phòng
                        <i class="fa fa-caret-right detail" style="font-size:30px; float: right;"></i>
                    </h5>

                </div>
                <div class="card-body" [hidden]="!showList[0]">
                    <div class="table-responsive">
                        <table style="font-size: 18px;">
                            <tr>
                                <td>Tên:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.name}}</td>
                            </tr>
                            <tr>
                                <td>MSSV:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.studentCardNumber}}</td>
                            </tr>
                            <tr>
                                <td>Loại phòng:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.targetRoomTypeName == 'Service Room' ? 'Phòng dịch vụ' : 'Phòng thường' }}
                                </td>
                            </tr>
                            <tr>
                                <td>Số tháng muốn ở:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.month}}</td>
                            </tr>
                            <tr>
                                <td>Ngày vào dự kiến:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.dateIn}}</td>
                            </tr>
                            <tr>
                                <td>Ngày ra dự kiến:</td>
                                <td class="width-20"></td>
                                <td>{{roomBookingRequestDetail.dateOut}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger" (click)="show(1)">
                    <h5>Thông tin chi tiết sinh viên
                        <i class="fa fa-caret-down detail" style="font-size:30px; float: right;"></i>
                    </h5>
                </div>
                <div class="card-body" [hidden]="!showList[1]">
                    <div class="table-responsive">
                        <div class="col-md-12">
                            <table style="font-size: 18px;">
                                <tr>
                                    <td style="width: 40%;">Tên:</td>
                                    <td>{{roomBookingRequestDetail.name}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">MSSV:</td>
                                    <td>{{roomBookingRequestDetail.studentCardNumber}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Giới tính:</td>
                                    <td>{{roomBookingRequestDetail.gender == 'True' ? 'Nam' : 'Nữ'}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">SĐT:</td>
                                    <td>{{roomBookingRequestDetail.phoneNumber}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Ngày sinh:</td>
                                    <td>{{roomBookingRequestDetail.birthDay}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Địa chỉ:</td>
                                    <td>{{roomBookingRequestDetail.address}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">CMND:</td>
                                    <td>{{roomBookingRequestDetail.identityCardNumber}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Khoá:</td>
                                    <td>{{roomBookingRequestDetail.term}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Ngành:</td>
                                    <td>{{roomBookingRequestDetail.industry}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Đối tượng ưu tiên:</td>
                                    <td>{{roomBookingRequestDetail.priorityType}}
                                    </td>
                                </tr>

                            </table>
                            <hr>
                            <div style="margin-bottom:25px">
                                <div style="display:block;" style.width="">
                                    <slideshow #slideshow [imageUrls]="imageUrls" height="400px" arrowSize="30px"
                                        showArrows=true backgroundSize="cover" backgroundPosition="center center"
                                        showDots=true dotColor="#FFF" showCaptions=true captionColor="#FFF"
                                        captionBackground="rgba(0, 0, 0, .35)">
                                    </slideshow>
                                </div>
                            </div>
                            <label style="float: left">Lý do từ chối: </label>
                            <textarea class="form-control" rows="3" [(ngModel)]="rejectReason" id="inputReason"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card" (click)="approveRoomBooking(roomBookingRequestDetail.roomBookingId)">Chấp nhận</button>
        <button type="button" class="btn btn-danger save shadow-card" (click)="rejectRequest(roomBookingRequestDetail.roomBookingId)">Từ chối</button>
    </div>
</ng-template>
<ng-template #customLoadingTemplate>
    <div class="custom-class"></div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>