<div class="main-content" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h5><b>Khiếu nại của sinh viên: 200</b>
                            <div class="navbar-form col-md-4" style="float: right;">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Tên người tạo..."
                                        id="searchValue" [(ngModel)]="ownerName">
                                    <button mat-raised-button type="submit"
                                        class="btn btn-white btn-round btn-just-icon" (click)="getIssue()">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </div>
                        </h5>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" style="text-align: center">
                                <thead class="thead-dark">
                                    <th>Tên người tạo</th>
                                    <th>Ngày tạo
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="sortByCreateDate(false)">Tăng
                                                    dần</button>
                                                <button class="dropdown-item" (click)="sortByCreateDate(true)">Giảm
                                                    dần</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Trạng thái
                                        <div ngbDropdown class="d-inline-block dropdown">
                                            <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item" (click)="filterByStatus('Pending')">Chưa
                                                    duyệt</button>
                                                <button class="dropdown-item" (click)="filterByStatus('Reject')">Đã
                                                    huỷ</button>
                                            </div>
                                        </div>
                                    </th>
                                   
                                    <th>Thao tác</th>
                                </thead>
                                <tbody *ngIf="isLoaded">
                                    <tr *ngIf="issueTickets.length == 0" style="text-align: center; min-height: 400px;">
                                        <td colspan="7">Không có yêu cầu nào</td>
                                    <tr *ngFor="let issueTicket of issueTickets">
                                        <td>{{issueTicket.ownerName}}</td>
                                        <td>{{issueTicket.createdDate}}</td>
                                        <td
                                            [ngClass]="{pending : issueTicket.status == 'Pending', reject: issueTicket.status == 'Reject'}">
                                            {{issueTicket.status == 'Pending' ? 'Chưa duyệt' : 'Đã huỷ'}}</td>
                                        
                                        <td><button type="button" class="btn btn-info" (click)="open(detail)">Chi
                                                tiết</button></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="paging">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #detail let-modal>
    <div class="modal-header">
        <h5><b>Chi tiết khiếu nại của sinh viên</b></h5>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="font-size: 18px;">
                            <tr>
                                <td>Tên người tạo:</td>
                                <td style="width: 10%"></td>
                                <td>Nguyễn Văn A</td>
                            </tr>
                            <tr>
                                <td>Nội dung khiếu nại:</td>
                                <td style="width: 10%"></td>
                                <td style="color: red;">Nguyễn Văn Nam. Ý thức sinh hoạt chung kém. </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <label style="float: left">Lý do từ chối: </label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card">Chấp nhận</button>
        <button type="button" class="btn btn-danger save shadow-card">Huỷ bỏ</button>
    </div>
</ng-template>