.pending{
    color: gray;
}
.reject{
    color: red;
}
.icon-btn{
    border: none;
    background-color: transparent;
    outline: 0;
    i{
        color: #007bff;
        font-size: 2em;
        cursor: pointer;
    }
  }